@page
@model WikiClase.Pages.Posts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center m-3">Eliminar Post</h1>
<h3 class="text-center">¿Estás seguro de que quieres eliminar esto?</h3>
<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 col-md-auto">
            <p class="fs-5">@Html.DisplayNameFor(model => model.Post.Titulo):</p>
            <p class="fs-5">@Html.DisplayNameFor(model => model.Post.Contenido):</p>
            <p class="fs-5">@Html.DisplayNameFor(model => model.Post.Autor):</p>
            <p class="fs-5">@Html.DisplayNameFor(model => model.Post.Fecha):</p>
            <p class="fs-5">@Html.DisplayNameFor(model => model.Post.nombreImagen):</p>
            <p class="fs-5">@Html.DisplayNameFor(model => model.Post.Categoria):</p>
            <p class="fs-5">@Html.DisplayNameFor(model => model.Post.Tag):</p>
            <p class="fs-5">@Html.DisplayNameFor(model => model.Post.rutaImagen):</p>
        </div>
        <div class="col-6 col-md-auto">
            <p class="fs-5">@Html.DisplayFor(model => model.Post.Titulo):</p>
            <p class="fs-5">@Html.DisplayFor(model => model.Post.Contenido)</p>
            <p class="fs-5">@Html.DisplayFor(model => model.Post.Autor)</p>
            <p class="fs-5">@Html.DisplayFor(model => model.Post.Fecha)</p>
            <p class="fs-5">@Html.DisplayFor(model => model.Post.nombreImagen)</p>
            <p class="fs-5">@Html.DisplayFor(model => model.Post.Categoria.nombreCategoria)</p>
            <p class="fs-5">@Html.DisplayFor(model => model.Post.Tag.subCategoria)</p>
            <img src="~/Images/@Html.DisplayFor(model => model.Post.nombreImagen)" height="100" width="120" alt="@Html.DisplayFor(model => model.Post.nombreImagen)" />
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form method="post">
                <div class="d-flex justify-content-between">
                    <div class="p-2">
                        <div class="form-group mt-2">
                            <a asp-page="./Index"><i class="bi bi-arrow-left-square-fill text-success fs-3"></i></a>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="form-group mt-2">
                            <input type="hidden" asp-for="Post.Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>