@page
@model WikiClase.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center m-3">Detalles</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2"></div>
            <div class="col-md-auto">
                <div class="card text-center p-2 border-1" style="background-color:#9BD0F2">
                    <div class="card-header" style="background-color:#97D2DB">
                        <h4>Post</h4>
                    </div>
                    <img src="~/Images/@Html.DisplayFor(model => model.Post.nombreImagen)" alt="@Html.DisplayFor(model => model.Post.nombreImagen)" />
                    <div class="card-body" style="background-color:#FFF">
                        <br>
                        <h5 class="card-title">@Html.DisplayNameFor(model => model.Post.Titulo)</h5>
                        <p class="card-text">@Html.DisplayFor(model => model.Post.Titulo)</p>
                        <br>
                        <h5 class="card-title">@Html.DisplayNameFor(model => model.Post.Contenido)</h5>
                        <p class="card-text">@Html.DisplayFor(model => model.Post.Contenido)</p>
                        <br>
                        <h5 class="card-title">@Html.DisplayNameFor(model => model.Post.Autor)</h5>
                        <p class="card-text">@Html.DisplayFor(model => model.Post.Autor)</p>
                        <br>
                        <h5 class="card-title">@Html.DisplayNameFor(model => model.Post.Fecha)</h5>
                        <p class="card-text">@Html.DisplayFor(model => model.Post.Fecha)</p>
                        <br>
                        <h5 class="card-title">@Html.DisplayNameFor(model => model.Post.Categoria)</h5>
                        <p class="card-text">@Html.DisplayFor(model => model.Post.Categoria.nombreCategoria)</p>
                        <br>
                        <h5 class="card-title">@Html.DisplayNameFor(model => model.Post.Tag)</h5>
                        <p class="card-text">@Html.DisplayFor(model => model.Post.Tag.subCategoria)</p>
                        <br>
                        <h5 class="card-title">@Html.DisplayNameFor(model => model.Post.nombreImagen)</h5>
                        <p class="card-text">@Html.DisplayFor(model => model.Post.nombreImagen)</p>
                        <br>
                    </div>
                    <div class="card-footer text-muted" style="background-color:#97D2DB">
                        <a asp-page="./Edit" asp-route-id="@Model.Post?.Id"><i class="bi bi-pencil-square text-warning fs-3"></i></a>
                        <a asp-page="./Index"><i class="bi bi-arrow-left-square-fill text-success fs-3"></i></a>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2"></div>
        </div>
    </div>
</div>
