@page
@model WikiClase.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}
<!-- Esto renderiza el render body-->
<h1 class="text-center">Posts</h1>

<p>
    <a asp-page="Create"><i class="bi bi-plus-square-fill fs-1" style="color:#31E884"></i></a>
</p>
<!-- Creacion de las tarjetas -->
<div class="row row-cols-1 row-cols-md-3 g-4">   
    @foreach (var item in Model.Post) {
            <div class="col">
            <div class="card border border-info rounded" style="background-color:#8FDBFF">
                    <p class="card-text text-center">@Html.DisplayFor(modelItem => item.nombreImagen)</p>
                    <img class="card-img-top img-thumbnail border-0" src="~/Images/@item.nombreImagen" height="100" width="80" alt="@item.nombreImagen" />
                <div class="card-body" style="background-color:#8FDBFF">
                    <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-end">@Html.DisplayFor(modelItem => item.Autor)</h6>
                        <p class="card-text text-center">@Html.DisplayFor(modelItem => item.Contenido)</p>
                        <p class="card-text text-center">@Html.DisplayFor(modelItem => item.Fecha)</p>
                        <p class="card-text text-center">@Html.DisplayFor(modelItem => item.Categoria.nombreCategoria)</p>
                        <p class="card-text text-center">@Html.DisplayFor(modelItem => item.Tag.subCategoria)</p>
                    </div>
                <div class="card-footer" style="background-color:#A1B8BF">
                        <a asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square fs-5"></i></a> |
                        <a asp-page="./Details" asp-route-id="@item.Id"><i class="bi bi-plus-circle-fill fs-5 text-warning"></i></a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash3 fs-5 text-danger"></i></a>
                    </div>
                </div>
            </div>
    }
</div>